CI_ENVIRONMENT = development
app.baseURL = 'http://localhost:8080/'
app.forceGlobalSecureRequests = false
database.default.hostname = localhost
database.default.database = attendance_qr
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
# Buat nilai unik: php spark key:generate lalu salin hasilnya.
encryption.key = hex2bin:0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
session.driver = 'CodeIgniter\Session\Handlers\FileHandler'
session.savePath = null
